<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stundenplan_neu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Stundenplan_neu.Properties.Settings>
            <setting name="Fach" serializeAs="String">
                <value />
            </setting>
            <setting name="Fach2" serializeAs="String">
                <value />
            </setting>
            <setting name="Fach3" serializeAs="String">
                <value />
            </setting>
            <setting name="Fach4" serializeAs="String">
                <value />
            </setting>
            <setting name="Fach5" serializeAs="String">
                <value />
            </setting>
            <setting name="Fach6" serializeAs="String">
                <value />
            </setting>
            <setting name="Fach7" serializeAs="String">
                <value />
            </setting>
            <setting name="F1S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7S3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F7E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F6E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F5E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F4E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F3E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1E1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1E2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1E3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F1E4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mo2" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo1" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo3" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo4" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo5" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo6" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo7" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo8" serializeAs="String">
                <value />
            </setting>
            <setting name="Mo9" serializeAs="String">
                <value />
            </setting>
            <setting name="Di1" serializeAs="String">
                <value />
            </setting>
            <setting name="Di2" serializeAs="String">
                <value />
            </setting>
            <setting name="Di3" serializeAs="String">
                <value />
            </setting>
            <setting name="Di4" serializeAs="String">
                <value />
            </setting>
            <setting name="Di5" serializeAs="String">
                <value />
            </setting>
            <setting name="Di6" serializeAs="String">
                <value />
            </setting>
            <setting name="Di7" serializeAs="String">
                <value />
            </setting>
            <setting name="Di8" serializeAs="String">
                <value />
            </setting>
            <setting name="Di9" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi1" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi2" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi3" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi4" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi5" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi6" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi7" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi8" serializeAs="String">
                <value />
            </setting>
            <setting name="Mi9" serializeAs="String">
                <value />
            </setting>
            <setting name="Do1" serializeAs="String">
                <value />
            </setting>
            <setting name="Do2" serializeAs="String">
                <value />
            </setting>
            <setting name="Do3" serializeAs="String">
                <value />
            </setting>
            <setting name="Do4" serializeAs="String">
                <value />
            </setting>
            <setting name="Do5" serializeAs="String">
                <value />
            </setting>
            <setting name="Do6" serializeAs="String">
                <value />
            </setting>
            <setting name="Do7" serializeAs="String">
                <value />
            </setting>
            <setting name="Do8" serializeAs="String">
                <value />
            </setting>
            <setting name="Do9" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr1" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr2" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr3" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr4" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr5" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr6" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr7" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr8" serializeAs="String">
                <value />
            </setting>
            <setting name="Fr9" serializeAs="String">
                <value />
            </setting>
            <setting name="Array01" serializeAs="String">
                <value />
            </setting>
            <setting name="Array02" serializeAs="String">
                <value />
            </setting>
            <setting name="Array03" serializeAs="String">
                <value />
            </setting>
            <setting name="Array11" serializeAs="String">
                <value />
            </setting>
            <setting name="Array12" serializeAs="String">
                <value />
            </setting>
            <setting name="Array13" serializeAs="String">
                <value />
            </setting>
            <setting name="Array21" serializeAs="String">
                <value />
            </setting>
            <setting name="Array22" serializeAs="String">
                <value />
            </setting>
            <setting name="Array23" serializeAs="String">
                <value />
            </setting>
            <setting name="Array31" serializeAs="String">
                <value />
            </setting>
            <setting name="Array32" serializeAs="String">
                <value />
            </setting>
            <setting name="Array33" serializeAs="String">
                <value />
            </setting>
            <setting name="Array41" serializeAs="String">
                <value />
            </setting>
            <setting name="Array42" serializeAs="String">
                <value />
            </setting>
            <setting name="Array43" serializeAs="String">
                <value />
            </setting>
            <setting name="Array51" serializeAs="String">
                <value />
            </setting>
            <setting name="Array52" serializeAs="String">
                <value />
            </setting>
            <setting name="Array53" serializeAs="String">
                <value />
            </setting>
            <setting name="Array61" serializeAs="String">
                <value />
            </setting>
            <setting name="Array62" serializeAs="String">
                <value />
            </setting>
            <setting name="Array63" serializeAs="String">
                <value />
            </setting>
            <setting name="Array04" serializeAs="String">
                <value />
            </setting>
            <setting name="Array14" serializeAs="String">
                <value />
            </setting>
            <setting name="Array24" serializeAs="String">
                <value />
            </setting>
            <setting name="Array34" serializeAs="String">
                <value />
            </setting>
            <setting name="Array44" serializeAs="String">
                <value />
            </setting>
            <setting name="Array54" serializeAs="String">
                <value />
            </setting>
            <setting name="Array64" serializeAs="String">
                <value />
            </setting>
            <setting name="Array05" serializeAs="String">
                <value />
            </setting>
            <setting name="Array15" serializeAs="String">
                <value />
            </setting>
            <setting name="Array25" serializeAs="String">
                <value />
            </setting>
            <setting name="Array35" serializeAs="String">
                <value />
            </setting>
            <setting name="Array45" serializeAs="String">
                <value />
            </setting>
            <setting name="Array55" serializeAs="String">
                <value />
            </setting>
            <setting name="Array65" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo0" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo1" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo2" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo3" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo4" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo5" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo6" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo7" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo8" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo9" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo10" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo11" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo12" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo13" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo14" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo15" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo16" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo17" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo18" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo19" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo20" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo21" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo22" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo23" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo24" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo25" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo26" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo27" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo28" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo29" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo30" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo31" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo32" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo33" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo34" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo35" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo36" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo37" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo38" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo39" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo40" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo41" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo42" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo43" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo44" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo45" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo46" serializeAs="String">
                <value />
            </setting>
            <setting name="ArrayNo47" serializeAs="String">
                <value />
            </setting>
        </Stundenplan_neu.Properties.Settings>
    </userSettings>
</configuration>